---
interface Props {
    icon: string;
    title: string;
}

const { icon, title } = Astro.props;
---

<div class="flex flex-row p-2 items-center gap-3 w-fit">
    <span
        style={`width:${32}px;height:${32}px;`}
        aria-hidden={title ? undefined : "true"}
        role={title ? "img" : undefined}
        aria-label={title}
        set:html={icon}
    />
    <p>{title}</p>
</div>