---
import type { GetStaticPaths } from "astro";
import { CodeXml, MapPin, Hourglass, Rocket } from "@lucide/astro";
import Layout from "../../layouts/Layout.astro";
import { getVariantFromDomain } from "../../lib/domain-variants";
import CoffeeAscii from "../../components/CoffeeAscii.astro";
import SocialBar from "../../components/SocialBar.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import TechTerminal from "@/components/terminal/TechTerminal.astro";
import ProjectEntry from "@/components/ProjectEntry.astro";
import Button from "@/components/Button.astro";

export const getStaticPaths = (async () => {
	return [{ params: { lang: "en" } }, { params: { lang: "de" } }];
}) satisfies GetStaticPaths;

const variant = getVariantFromDomain(Astro.url);
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout>
	<section class="flex w-full flex-row items-start justify-start gap-3 flex-wrap sm:flex-nowrap sm:gap-0 sm:flex-row sm:items-end sm:justify-between">
		<div>
			<div>
				<h3 class="text-text">{t("main.head.intro")}</h3>
				<h1 class="text-secondary font-bold">
					{variant.displayName}
				</h1>
				<p class="flex flex-row items-center gap-1">
					<marker><MapPin size={18} /></marker>{
						t("main.head.location")
					}
				</p>
				<p class="flex flex-row items-center gap-1">
					<marker><Hourglass size={18} /></marker>{t("main.head.age")}
				</p>
				<p class="flex flex-row items-center gap-1">
					<marker><CodeXml size={18} /></marker>Full-Stack Developer
				</p>
				<p class="flex flex-row items-center gap-1">
					<marker><Rocket size={18} /></marker>{t("main.head.exp")}
				</p>
			</div>
			<div class="mt-5 mb-3">
				<Button
					href=`mailto:${variant.mail}`
					ariaLabel={t("button.contact")}
				>
					{t("button.contact")}
				</Button>
			</div>
		</div>
		<CoffeeAscii />
		<SocialBar />
	</section>

	<section>
		<h2 class="text-primary-hover mb-2 font-bold">
			{t("main.tech.intro")}
		</h2>
		<TechTerminal />
	</section>

	<section>
		<h2 class="text-primary-hover mb-2 font-bold">
			{t("main.project.intro")}
		</h2>
		<div class="grid grid-cols-1 gap-5 sm:grid-cols-2 md:grid-cols-3">
			<ProjectEntry
				src="/projects/trackgames/mainpage.png"
				title="Trackgames"
				tags={[
					"next.js",
					"typescript",
					"prisma",
					"postgresql",
					"redis",
					"tailwind",
					"docker",
					"coolify",
				]}
				website="https://trackgames.app/"
				github="https://github.com/YamiKhal/TrackGames"
				blog=`/${lang}/blog/trackgames`
			>
				{t("projects.trackgames.desc")}
			</ProjectEntry>
		</div>
	</section>
</Layout>
